
body{
    background: red;
}

.img{
    padding-top: 90px !important;
    padding-left: 100px !important;
    padding-bottom: 250px !important;
    width: 500px !important;
    height: 800px !important;
    
    
}
.wer{
   width: 700px !important;
   padding-top: 100px !important;
   padding-left: 150px !important;
   
}

.iop{
    padding-top: 50px !important;
    padding-left: 150px !important;
    color:white !important;
   
}
.ert{
    padding-top: 150px !important;
    padding-right: 90px !important;
}
.rty{
    text-align:center !important;
    padding-right: 100px !important;
    font-size:50px !important;
    color:navy !important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    text-decoration: double underline !important;
 
}
.ghj{
    padding-top: 30px !important;
    font-size:30px !important;
    color:rgb(14, 92, 14) !important;
}
.tyu{
padding-top: 50px !important;
padding-left: 600px !important;
font-weight:bold !important;
font-size:50px !important;
color:gold !important;
text-transform: uppercase !important;
text-decoration:solid underline !important;

}

.toy{
    background-color:greenyellow !important;
    color:brown !important;
}
.row{
    background:darkblue !important;
}
.cvb{
    text-decoration:none !important;
}
.yui{

}